<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-nav">
                <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
               <!-- commenting out these lines for the moment-->
                <!-- stub is shown using the name of the route -->
                <!--<a class="nav-link" href={>{ url_for('index') }}>Portfolio -->
                <a class="nav-link" href={{ url_for('planner') }}>Planner</a>
                <!-- <a class="nav-link" href={{ url_for('README') }}>README</a> -->
                <a class="nav-link" href={{ url_for('nasty') }}>Nasty</a>
            <li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minilab
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="https://kapwi.ng/c/yKfJ5MqCfP" target="_blank">Tech Talk 0.*</a>
                    <a class="dropdown-item" href="https://docs.google.com/document/d/1t31XtKqvTwIF9UPtYcyjFa9-WkKPoQgcxXxMfE8rbKc/edit?usp=sharing" target="_blank" >Brain Write</a>
                    <a class="dropdown-item" href="https://www.figma.com/file/9eItLJPgtgRwK6GugaUwrl/Unique-Planner?node-id=0%3A1g" target="_blank" >Figma Wireframe</a>
                    <a class="dropdown-item" href="https://github.com/NastyEthan/flask_portfolio/commit/6e82d0aa8279dfd8a3a561c14f798c67f4d6bdd7" target="_blank">Greet Commit</a>
                    <a class="dropdown-item" href={{ url_for('binary') }}>Binary</a>
                    <a class="dropdown-item" href={{ url_for('binary2') }}>Binary2</a>
                    <a class="dropdown-item" href={{ url_for('logic') }}>Logic Gates</a>
                </div>
            </li>
        </ul>
    </div>
</nav>