<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-nav">
                <a class="nav-link" href="http://127.0.0.1:5000/nasty">Nasty</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="planner" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Planner
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/plannermnthly">Monthly Planner</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/plannerwkly">Weekly Planner</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/plannerwork">Work Planner</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minilab
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="https://kapwi.ng/c/yKfJ5MqCfP" target="_blank">Tech Talk 0.*</a>
                    <a class="dropdown-item" href="https://docs.google.com/document/d/1t31XtKqvTwIF9UPtYcyjFa9-WkKPoQgcxXxMfE8rbKc/edit?usp=sharing" target="_blank" >Brain Write</a>
                    <a class="dropdown-item" href="https://www.figma.com/file/9eItLJPgtgRwK6GugaUwrl/Unique-Planner?node-id=0%3A1g" target="_blank" >Figma Wireframe</a>
                    <a class="dropdown-item" href="https://github.com/NastyEthan/flask_portfolio/commit/6e82d0aa8279dfd8a3a561c14f798c67f4d6bdd7" target="_blank">Greet Commit</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/binary">Binary</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/binary2">Binary2</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/binary3">Binary3</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/binary4">Binary4</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/logic">Logic Gates</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/colorcode2">Color Code</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    APIs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/joke">Joke</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/jokes">Jokes</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/covid19">COVID 19</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/weatherapi2">Weather</a>
                </div>
            </li>
        </ul>
    </div>
</nav>