html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
    text-align: center;
}

body {
    margin: 0 auto;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}


