<!- This variable sets name of browser tab  -->
{% extends "layouts/base.html" %}

{% block background %}
    <body style="background-color:cadetblue;">  </body>
{% endblock %}

{% block body %}
{% set project = "About" %}
    <style>
        h1 {
            font-family: "Bebas Neue";
            text-align: center;
            font-size:80px
        }
    </style>
    <br>
    <h1>About Us</h1>
    <br>
    <!-- TRY THIS https://stackoverflow.com/questions/42051528/how-do-i-make-an-image-clickable TY -->
    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col align-self-start">
                <a href={{ url_for('michael') }}><img src="/static/assets/michaelprofile.jpg" alt="Michael's picture" style="width: 200px; height: 200px; object-fit: cover" ></a>
            </div>
            <div class="col align-self-start">
                <a href={{ url_for('ethan') }}><img src="/static/assets/ethanprofile.jpg" alt="Ethan's picture" style="width: 200px; height: 200px; object-fit: cover"></a>
            </div>
            <div class="col align-self-start">
                <a href={{ url_for('anirudh') }}><img src="/static/assets/anirudhprofile.jpg" alt="Anirudh's picture" style="width: 200px; height: 200px; object-fit: cover "></a>
            </div>
            <div class="col align-self-start">
                <a href={{ url_for('james') }}><img src="/static/assets/jamesprofile.jfif" alt="James's picture" style="width: 200px; height: 200px; object-fit:cover"></a>
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: center">
            <div class="col align-self-start">
                <a style="color:white" href={{ url_for('michael') }}> Michael Chen </a>
            </div>
            <div class="col align-self-start">
                <a style="color:white" href={{ url_for('ethan') }}>  Ethan Vo </a>
            </div>
            <div class="col align-self-start">
                <a style="color:white" href={{ url_for('anirudh') }}> Anirudh Ramachandran </a>
            </div>
            <div class="col align-self-start">
                <a style="color:white" href={{ url_for('james') }}> James Lee </a>
            </div>
        </div>
    </div>
{% endblock %}
