<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Anirudh" %}

{% set repo = "https://github.com/NastyEthan/flask_portfolio" %}

{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: 'Wide Latin',serif;">
        <p style="font-family:'sans-serif '; font-size:150px; color: #2b425b" > Anirudh Ramachandran</p>
    </div>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p style="font-family:'Vladimir Script'; font-size:100px" > Hello, {{name}}!</p>
        </div>

        <div class="col-12">
            <form action="/anirudh/" id="greet" method="POST" >
                <label for="name">Type a greeting name</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <a href={{ url_for('binary2') }}>Binary2 Progess</a>
    </div>
{% endblock %}

{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.globe.min.js') }}"></script>
    <script>
        VANTA.GLOBE({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color:0xbb62fa,
            color2: 0x20ffb0
        })
    </script>
{% endblock %}