<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Anirudh" %}
{% set imgMaskOn = Img1 %}
{% set imgMaskOff = Img2 %}
{% set msgTurnOn = "Mask On" %}
{% set msgTurnOff = "Mask Off" %}
{% set repo = "https://github.com/NastyEthan/NastyAwakened" %}


{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <p style="font-family:'Bebas Neue'; font-size:120px" > Anirudh Ramachandran</p>
    </div>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Raleway,serif;">
    <style>
        body {
            background-image: url("/static/assets/ethanimages/ankles.png");
            background-size:     cover;
        }

    </style>
        <table>
            <tr>
                <th>
                    Temp
                </th>
            </tr>
            <tr>
                <th>
                    {{myforecast['forecast']['forecastday'][0]['day']['avgtemp_f']}}
                </th>
            </tr>
        </table>
    </div>
    <div class="col-12" style="text-align:center">
        <img class="img-responsive py-3" id="picture" src="{{ imgMaskOff }}" alt="" width="200" height="250" onclick="MaskOnMaskoff('{{i}}')">
    </div>
    <script>
        function MaskOnMaskoff() {
            const image = document.getElementById('picture');
            const butt = document.getElementById('butt');
            if (image.src.match("{{ imgMaskOn }}")) {
                image.src = "{{ imgMaskOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                image.src = "{{ imgMaskOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
        }
    </script>
{% endblock %}

{% block background %}

{% endblock %}