<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block body %}
    <style>
        h1 {
            font-family: "Birthstone";
            text-align: center;
            font-size:80px
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <h1>ColorCode Lab</h1>

    <br />
    <!function that returns one less than what you give it>
    <!these for loops create the button that only apply to each row of bulbs since the range of i is specified>
    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="r{{i}}" onclick="toggleCell('r{{i}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="r">Decimal: 0</p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1"></div>
        {% for j in range(1, 9) %}
            <button class="col-sm-1" id="g{{j}}" onclick="toggleCell('g{{j}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="g">Decimal: 0</p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1"></div>
        {% for k in range(1, 9) %}
            <button class="col-sm-1" id="b{{k}}" onclick="toggleCell('b{{k}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="b">Decimal: 0</p>
        </div>
    </div>


    <div class="offset-sm-1 col-sm-10" id="color" style="background-color: #000000; height: 50vh;">
    </div>
    <p style="text-align: center;" id="code">Hexcode: #000000</p>

    <br />
    <div class = "container"> </div>
    <div class="center">
        <button style="justify-content: center;" onclick="reset()">Reset</button>
    </div>
    </div>

    <script>


        var colors = new Map(); //makes 2D array
        colors.set('r', 0);
        colors.set('g', 0);
        colors.set('b', 0);

        function bin2int(binary){
            {#console.log(binary)#}
            return parseInt(binary, 2) //turns string into number, comma 2 specifies that input number is written in base 2
        }



        function totalRow (color) {    // gets decimal sum for row
            let binary = "";
            for (var i = 1; i <= 8; i++) {
                let element = document.getElementById(color + i);
                binary += parseInt(element.innerHTML);  //addition assignment operator, adds value to variable, code equals code plus ___
            }
            sum = bin2int(binary)

            document.getElementById(color).innerHTML = "Decimal value: " + sum;
            colors.set(color, sum)
            setColorCode();
        }


        function setColorCode() {    // takes decimal values from each row, converts to base 16 (hex) and then ensures that its two digits
            let colorCode = ["r", "g", "b"];
            let code = "#"
            for (var i = 0; i<3; i++){  //i++ means keep looping until i is less than 3, ++ same as +1
                    if (colors.get(colorCode[i]).toString(16).length == 1){
                        code += "0" + colors.get(colorCode[i]).toString(16)
                    }else {
                        code += colors.get(colorCode[i]).toString(16)
                    }
                }
            document.getElementById("color").style.backgroundColor = code;  //also changes color in box to corresponding hexcode
            document.getElementById("code").innerHTML = "Hexcode = " + code;

        }

        function toggleCell (cellid) {
            const element = document.getElementById(cellid);
            if (element.innerHTML == "1") {
                element.innerHTML = "0";
            } else {
                element.innerHTML = "1";
            }
            element.classList.toggle("On");
            element.classList.toggle("Off");

            totalRow(cellid.charAt(0));
        }

        function reset () {   // resets all cells to 0, color in box in black with reset button
            colorCode = ["r", "g", "b"];    //array parameters needs brackets, objects have {}
            for (var j = 0; j < 3; j++) {    //looping through rows
                for (var i = 1; i <= 8; i++) {  //also each cell
                    console.log(colorCode[j] + i);  //for testing
                    document.getElementById(colorCode[j] + i).innerHTML = "0";
                    totalRow(colorCode[j]);
                    document.getElementById(colorCode[j] + i).classList.add("Off");
                    document.getElementById(colorCode[j] + i).classList.remove("On");
                }
            }
        }

        window.onload = reset();  // everytime a new tab opens, you reset the cells
        console.log("loaded");  //for testing errors

    </script>

{% endblock %}

{% block background %}
    <body style="background-color:darkslategrey;">  </body>
{% endblock %}
// click cell, detect change, remake binary number for that row, convert to rgb, display color


