<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block body %}
    <style>
        h1 {
            font-family: "Birthstone";
            text-align: center;
            font-size:80px
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <h1>ColorCode Lab</h1>

    <br />

    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="r{{i}}" onclick="toggleSwitch('r{{i}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="r">Decimal: 0</p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="g{{i}}" onclick="toggleSwitch('g{{i}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="g">Decimal: 0</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="b{{i}}" onclick="toggleSwitch('b{{i}}')">0</button>
        {% endfor %}
        <div class="offset-sm-1 col-sm-2">
            <p id="b">Decimal: 0</p>
        </div>
    </div>

    <br />

    <div class="offset-sm-1 col-sm-10" id="color" style="background-color: #000000; height: 20vh;">
    </div>
    <p style="text-align: center;" id="code">Hexcode: #000000</p>

    <br />
    <div class = "container"> </div>
    <div class="center">
        <button style="justify-content: center;" onclick="reset()">Reset</button>
    </div>
    </div>

    <script>


        var colors = new Map();
        colors.set('r', 0);
        colors.set('g', 0);
        colors.set('b', 0);

        function bin2int(binary){
            {#console.log(binary)#}
            return parseInt(binary, 2) //turns string into number, comma 2 specifies that input number is written in base 2
        }



        function totalRow (color) {    // function that calculates the decimal value for a certain row after one of its buttons is toggled
            let binary = "";
            for (var i = 1; i <= 8; i++) {
                let element = document.getElementById(color + i);
                binary += parseInt(element.innerHTML);
            }
            sum = bin2int(binary)

            document.getElementById(color).innerHTML = "Decimal value: " + sum;
            colors.set(color, sum)
            setColorCode();
        }


        function setColorCode() {    // uses values from each row to create a color
            let r = colors.get("r").toString(16);
            let g = colors.get("g").toString(16);
            let b = colors.get("b").toString(16);
            if (r.length == 1) {
                r = "0" + r;
            }
            if (g.length == 1) {
                g = "0" + g;
            }
            if (b.length == 1) {
                b = "0" + b;
            }
            let code = "#" + r + g + b;
            document.getElementById("color").style.backgroundColor = code;
            document.getElementById("code").innerHTML = "Hexcode = " + code;

        }

        function toggleSwitch (id) {     // toggles button between on and off
            const element = document.getElementById(id);
            if (element.innerHTML == "1") {
                element.innerHTML = "0";
            } else {
                element.innerHTML = "1";
            }
            element.classList.toggle("On");
            element.classList.toggle("Off");

            totalRow(id.charAt(0));
        }

        {#function reset () {   // function to reset all buttons back to off#}
        {#    colors = {"r", "g", "b"}#}
        {#    for (var j = 0; j < 3; j++) {#}
        {#        for (var i = 1; i <= 8; i++) {#}
        {#            console.log(colors[j] + i)#}
        {#            document.getElementById(colors[j] + i).innerHTML = "0";#}
        {#            totalRow(colors[j]);#}
        {#            document.getElementById(colors[j] + i).classList.add("Off");#}
        {#            document.getElementById(colors[j] + i).classList.remove("On");#}
        {#        }#}
        {#    }#}
        {#}#}

            function reset () {   // function to reset all buttons back to off
                for (var i = 1; i <= 8; i++) {
                    document.getElementById('r' + i).innerHTML = "0";
                    document.getElementById('g' + i).innerHTML = "0";
                    document.getElementById('b' + i).innerHTML = "0";
                    calculateRow('r');
                    calculateRow('b');
                    calculateRow('g');
                    document.getElementById('r' + i).classList.add("buttonOff");
                    document.getElementById('g' + i).classList.add("buttonOff");
                    document.getElementById('b' + i).classList.add("buttonOff");
                    document.getElementById('r' + i).classList.remove("buttonOn");
                    document.getElementById('g' + i).classList.remove("buttonOn");
                    document.getElementById('b' + i).classList.remove("buttonOn");
                }
            }
        window.onload = reset();  // init buttons

    </script>

{% endblock %}

{% block background %}
    <body style="background-color:darkgoldenrod;">  </body>
{% endblock %}
