<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Ethan" %}

{% set repo = "https://github.com/NastyEthan/flask_portfolio" %}

<!- This is turning off birds background from base.html -->
{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.waves.min.js') }}"></script>
    <script>
        VANTA.WAVES({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xbb62fa,
        })
    </script>
{% endblock %}

{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: 'Poiret One',serif;">
        <p style="font-family:'Poiret One'; font-size:69px" > Ethan Vo</p>
    </div>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family:'Railway'; font-weight: 900; font-size:20px; color: antiquewhite">
            <p>Hello, {{name}}! This is my about page</p>
            <form action="{{ url_for('ethan') }}" id="greet" method="POST" >
                <label for="name">Enter your name:</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        <a style="color:antiquewhite"; href={{ url_for('binary') }}>Binary Progess</a>
        <br>
        <p>Here is my minilab for RGB:
            <a style="font-family: 'fangsong'; color: antiquewhite" href={{ url_for('ethanrgb') }}>ethanrgb.html</a> <br>
            Note, it takes a while for the html to load due to the file sizes of the images</p>
    </div>
    </div>
{% endblock %}