<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Ethan" %}

{% set repo = "https://github.com/NastyEthan/flask_portfolio" %}


<!- This is turning off birds background from base.html -->
{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.waves.min.js') }}"></script>
    <script>
        VANTA.WAVES({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
    <title>Name</title>
    <head>
        <style>
            body{
                background-image: url('https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Tennis/Galleries/5+Must-See+Tennis+Courts/San+Petrio+Tennis+Court-slide+4.jpg');
                background-size: cover;
                height: 100vh;
                padding:0;
                margin:0;
            }
        </style>
    </head>
{% endblock %}
