<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "James" %}

{% set repo = "https://github.com/NastyEthan/flask_portfolio" %}

{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family:'Poor Richard',serif;">
        <p style="font-family:'Poor Richard'; font-size:200px; color: #1da1f2" > James Lee</p>
    </div>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: 'Poor Richard',serif;">

        <div class="col-12">
            <p style="font-family:'Poor Richard'; font-size:100px; color: #1da1f2" > Hello, {{name}}!</p>
        </div>

        <div class="col-12">
            <form action="/james/" id="greet" method="POST" >
                <label for="name" ;  <p style="font-family:'Poor Richard'; font-size:25px; color: #1da1f2">Type a greeting name</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

    </div>
{% endblock %}

{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}

