<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Michael" %}

{% set repo = "https://github.com/NastyEthan/flask_portfolio" %}

{% block body %}
    <div style = "left:80px; top:30px" >
        <h1 style="font-family:'system-ui'; font-size:69px" > Michael Chen</h1>
        <p style="font-family:'fangsong'"; > Hello {{ name }}, I am Michael, here is some of my work:</p>
        <form action="/michael/" id="greet" method="POST" >
            <label style="font-family:'fangsong'"; for="name">Please Enter Your Name</label>
            <input style="font-family:'fangsong'"; name="name" id="name">
            <input style="font-family:'fangsong'; font-weight:900"; type="submit" value="Greetings!">
        </form>
    </div>
{% endblock %}

{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xe3a95a,
            backgroundColor: 0x2d0f64
        })
    </script>
{% endblock %}