<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Michael" %}

{% block body %}
    <style>
        h1 {
            font-family: Fredericka the Great;
            font-size: 69px;
        }
        p {
            font-family: Cutive Mono;
        }
        .box {
            padding: 8px;
            margin: 25px;
        }
    </style>
    <div class="box" > <!-- idek what a box is tbh, might need to change - I just added it for the margin lul -->
        <h1> Michael Chen</h1>
    </div>
{% endblock %}

{% block background %}
{% endblock %}