<!- This variable sets name of browser tab  -->
{% extends "layouts/base.html" %}

{% block background %}
    <body style="background-color:cadetblue;">  </body>
{% endblock %}

{% block body %}
{% set project = "About" %}
    <style>
        h1 {
            font-family: "Bebas Neue";
            text-align: center;
            font-size:80px
        }
        h2 {
            font-family: "Bebas Neue";
            text-align: center;
            font-size:69px
        }
        html, body {
            background-color: cadetblue;
        }
        p {
            font-family: "Raleway"
        }

        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: antiquewhite;
            font-size: 20px;
            font-weight: 900;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
        }

        a.name {
            font-family: Raleway;
        }
    </style>
    <br>
    <h1>Nasty: About Us</h1>
    <br>
    <!-- TRY THIS https://stackoverflow.com/questions/42051528/how-do-i-make-an-image-clickable TY -->
    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col align-self-start">
                <a href="http://127.0.0.1:5000/michael"><img src="/static/assets/michaelprofile.jpg" alt="Michael's picture" style="width: 200px; height: 200px; object-fit: cover" ></a>
            </div>
            <div class="col align-self-start">
                <a href="http://127.0.0.1:5000/ethan"><img src="/static/assets/ethanprofile.jpg" alt="Ethan's picture" style="width: 200px; height: 200px; object-fit: cover"></a>
            </div>
            <div class="col align-self-start">
                <a href="http://127.0.0.1:5000/anirudh"><img src="/static/assets/anirudhprofile.jpg" alt="Anirudh's picture" style="width: 200px; height: 200px; object-fit: cover "></a>
            </div>
            <div class="col align-self-start">
                <a href="http://127.0.0.1:5000/james"><img src="/static/assets/jamesprofile.jfif" alt="James's picture" style="width: 200px; height: 200px; object-fit:cover"></a>
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: center">
            <div class="col align-self-start">
                <a class="name" style="color:white" href="http://127.0.0.1:5000/michael"> Michael Chen </a>
            </div>
            <div class="col align-self-start">
                <a class="name" style="color:white" href="http://127.0.0.1:5000/ethan">  Ethan Vo </a>
            </div>
            <div class="col align-self-start">
                <a class="name" style="color:white" href="http://127.0.0.1:5000/anirudh"> Anirudh Ramachandran </a>
            </div>
            <div class="col align-self-start">
                <a class="name" style="color:white" href="http://127.0.0.1:5000/james"> James Lee </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="text-center">Journals</h2>
    <div class="container"></div>
        <div class="row justify-content-md-center" style="text-align: center; width: 100%">
            <div class="col-2">
                <a href="https://docs.google.com/document/d/1Kcb8k2XW2PODSQW_EKFYb1XKB39VrwB-OEAnCMM7Frs/edit?usp=sharing" target="_blank" class="btn">Michael & James</a>
            </div>
            <div class="col-2">
                <a href="https://docs.google.com/document/d/1-AS5NcpL8dvRFaj1oww0tR8XM1lf20oFSDFuEdq7OxQ/edit?usp=sharing" target="_blank" class="btn">Ethan & Anirudh</a>
            </div>
        </div>
    </div>
    <br>
    <h2 class="text-center">Important Links</h2>
    <div class="container"></div>
        <div class="row justify-content-md-center" style="text-align: center; width: 100%">
            <div class="col">
                <a href="https://github.com/NastyEthan/flask_portfolio" target="_blank" class="btn">REPOSITORY</a>
            </div>
        </div>
    </div>


{% endblock %}
