<!DOCTYPE html>
<html lang="en">


<!-- THE MAIN PROJECT -->
{% set basename = "Nighthawk Coding" %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        p {
            font-family: Raleway;
        }
        body {
            background-color: antiquewhite;
        }
        h1 {
            font-family: Forum;
            font-size: 90px;
        }
        table {
            width: fit-content;
            overflow-wrap: anywhere;
            font-family: Raleway;
            /*column-rule: 4px dotted rgb(79, 185, 227);*/

        }
        th, td{
            border: 5px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);

        }
        .btn{
            border: 5px solid black;
            font-family: Raleway;
        }
    </style>
    <title>Nighthawk Coding | Planner</title>
</head>

<body>
{% include "layouts/navbar.html" %}

<div style="margin-left: 50px; margin-right: 50px">
    <!-- Clock display -->
    <div style="text-align: right">
        <span style="font-family: Cutive Mono" id="clock"></span>
    </div>

    <h1>PLANNER</h1>
    <p>This will be where we will build the month version - <b>a daily planner with alarms for tests, homework, etc.</b></p>

    <!-- button that leads to the repo, can style the button in css above -->
    <a href="http://127.0.0.1:5000/planner4" class="btn">Weekly Schedule</a>

    <table>

        <tr>
            <th colspan="7">October 2021</th>    <!-- html  -->
        </tr>

        <tr>    <!-- tr is the table row and center aligns them  -->
            <th>Sun</th>      <!-- The days and aligning in the center th is the table header  -->
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>

        {% for j in range(0,5) %}
        <tr>

            {% if j < 4 %}
            {% for i in range(1,8) %} <!-- Code for iteration, table, button: Cell for each day of the month -->
            <td>
                <p> {{j*7+i}} </p>
                <p id="show_input{{j}}{{i}}"></p>
                Plan: <label>
                <input id="task{{j}}{{i}}" type="text">
            </label>
                <button  onclick="display('{{j}}{{i}}')">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form></td>
            {% endfor %}
            {% endif %}

            {% if j == 4 %} <!-- jinja if statement; prints certain number of cells depending on which row -->
            {% for i in range(1,4) %} <!-- Code for iteration, table, button: Cell for each day of the month -->
            <td>
                <p> {{j*7+i}} </p>
                <p id="show_input{{j}}{{i}}"></p>
                Plan: <label>
                <input id="task{{j}}{{i}}" type="text">
            </label>
                <button  onclick="display('{{j}}{{i}}')">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form></td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <td>
                <span>Are You Satisfied with the Progress?</span>
                <input type="checkbox" name="A" class="checkbox" id="firstcondition" value="1">
            </td>

            <td>
                <span>Are You Satisfied with the Grades?</span>
                <input type="checkbox" name="B" class="checkbox" id="secondcondition" value="1">
            </td>
            <td> <input type="button" onclick="myFunction()" class="button" value="Done"></td>
             <td><span id="onlyrow"></span> </td>
        </tr>
    </table>
    <table>  <!--  new table that is created for events -->
        <tr>   <!--  table header for 3 seperate events-->
            <th bgcolor="#00bfff"> Birthday </th>
            <th bgcolor="red"> Urgent Task </th>
            <th bgcolor="yellow"> Exam in this month </th>
        </tr>

        {% for image in eventimages %} <!--  for loop for iteration(image  -->
            <td>
                <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64_GRAY}}" > <!--  default is gray   -->
                <!-- Hack: create button (btn{{loop.index}} to  call java script function
                       pass index to allow you to toggle images with hidden id's
                       {{image.base64}}  original image
                       {{image.base64_GRAY}}  gray scale image
                    -->
                <button style="background-color: mediumspringgreen; border-color: rebeccapurple; color: mediumblue" onclick="changeImage('{{loop.index}}')">Toggle Event!</button>
                <!--  changes from gray to color when using button  -->
                <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p> <!--  loops the images   -->
                <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
            </td>
        {% endfor %}
    </table>
<body>
<p id = "GOTOSTUDY" style ="font-size: 16px; font-weight: bold;">
</p>

<button onclick = "STUDYTIME()">
    Enter...STUDY MODE!!!
</button>

<button onclick = "RANDOMCOLOR()">
    Test's Over? Have some fun!
</button>

<p id = "RETURNTOFUN" style ="color:white; font-size: 20px; font-weight: bold;">
</p>
</body>

    <script>
        // Clock controller
        let clockElement = document.getElementById('clock');
        function clock() {
            let date = new Date();
            clockElement.textContent = date.toLocaleString();
        }
        // Clock refresh frequency
        setInterval(clock, 1000);

        function display(id){
            const task = "task" + id;
            const show_input = "show_input" + id;
            alert("Adding " + document.getElementById(task).value + " to October " + id);
            document.getElementById(show_input).innerHTML = document.getElementById(task).value;
        }

        function reply_click(clicked_id)
        {
            alert(clicked_id);
        }

        function myFunction() {    //Code for logic gate
            const x = document.getElementById("firstcondition")
            const y = document.getElementById("secondcondition")

            if (x.checked || y.checked) {   //or
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/vomilton.png\" alt=\"Eh...\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"
            }
            if (x.checked && y.checked) {   //and
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/ankles.png\" alt=\"Sheeeeeesh\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"
            }
            if (!(x.checked || y.checked)) {    //nor
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/anirudhsus.png\" alt=\"Sadge\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"

            }
        }

        function changeImage(ndx) {     <!-- if else statement using the function changeImage   -->
            if (document.getElementById("img" + ndx).src == document.getElementById('img_orig' + ndx).innerHTML) { <!-- if original switch to gray   -->
                document.getElementById('img' + ndx).src = document.getElementById('img_gray' + ndx).innerHTML;
            } else {
                document.getElementById('img' + ndx).src = document.getElementById('img_orig' + ndx).innerHTML;  <!-- if gray switch to original   -->
            }
        }

        function changeColor(color) {
            document.body.style.background = color;
        }

        function STUDYTIME() {
            changeColor('white');

        }
        function RANDOMCOLOR() {
            var color = '#'+Math.floor(Math.random() * 16777215).toString(16);
            changeColor(color)
        }


    </script>
    <!--    <a href="http://127.0.0.1:5000/weatherapi/">-->
    <!--        Click Here to Check the Weather!-->
    <!--    </a>-->
    <a class="btn btn-primary" href="http://127.0.0.1:5000/binarytoplanner/">Want to take a quick break from studying and talk to your friends in binary? Click here!</a>
</div>