<!DOCTYPE html>
<html lang="en">


<!-- THE MAIN PROJECT -->
{% set basename = "Nighthawk Coding" %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        p {
            font-family: Raleway;
        }
        body {
            background-color: antiquewhite;
            color: black;
        }

        .dark-mode {
            background-color: #35363a;
            color: #b3b3b3;
            border: 3px white;
        }

        button {
            margin-top: 5px;
            font-family: Raleway;
            padding: 6px 14px;
            border-radius: 6px;
            color: #3D3D3D;
            background: #fff;
            border: 1px solid black;
            box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            transition-deration: 0.4s;
        }
        h1 {
            font-family: Forum;
            font-size: 90px;
        }
        table {
            margin-top: 20px;
            margin-bottom: 20px;
            width: fit-content;
            overflow-wrap: anywhere;
            font-family: Raleway;


        }
        th, td{
            border: 3px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);

        }
        .btn{
            border: 2px solid black;
            font-family: Raleway;
        }
    </style>
    <title>Nighthawk Coding | Planner</title>
</head>

<body onload="keep()">
{% include "layouts/navbar.html" %}

<div style="margin-left: 50px; margin-right: 50px">
    <!-- Clock display -->
    <div style="text-align: right">
        <p style="font-family:'Courier New'">{{mytime['LocalTime_Now']}}</p>
    </div>

    <h1>PLANNER</h1>
    <p>This will be where we will build the month version - <b>Put your main events, deadlines, and important events here.</b></p>

    <!-- button that leads to the repo, can style the button in css above -->
    <button onclick="location.href='http://127.0.0.1:5000/plannerwkly/'" type="button">Weekly Schedule</button>
    <button onclick="location.href='http://127.0.0.1:5000/plannerdly/'" type="button">Daily Planner</button>

    <table>

        <tr>
            <th colspan="7">October 2021</th>    <!-- html  -->
        </tr>

        <tr>    <!-- tr is the table row and center aligns them  -->
            <th>Sun</th>      <!-- The days and aligning in the center th is the table header  -->
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>

        {% for j in range(0,5) %}
        <tr>

            {% if j < 4 %}
            {% for i in range(1,8) %} <!-- Code for iteration, table, button: Cell for each day of the month -->
            <td>
                <p> {{j*7+i}} </p>
                <p id="show_input{{j}}{{i}}"></p>
                <input id="task{{j}}{{i}}" type="text">
                <button  id="add-task('{{j}}{{i}}')" onclick="display('{{j}}{{i}}')">Add Info</button>
                <button class="task" onclick="remove('{{j}}{{i}}')">Clear Task(s)</button>
            {% endfor %}
            {% endif %}

            {% if j == 4 %} <!-- jinja if statement; prints certain number of cells depending on which row -->
            {% for i in range(1,4) %} <!-- Code for iteration, table, button: Cell for each day of the month -->
            <td>
                <p> {{j*7+i}} </p>
                <p id="show_input{{j}}{{i}}"></p>
                Plan: <label>
                <input id="task{{j}}{{i}}" type="text">
            </label>
                <button  onclick="display('{{j}}{{i}}')">Add Info</button>
                <h6>Are You Done?</h6>
            <button class="task" onclick="remove('{{j}}{{i}}')">Clear Task(s)</button>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <td>
                <span>Are You Satisfied with the Progress?</span>
                <input type="checkbox" name="A" class="checkbox" id="firstcondition" value="1">
            </td>

            <td>
                <span>Are You Satisfied with the Grades?</span>
                <input type="checkbox" name="B" class="checkbox" id="secondcondition" value="1">
            </td>
            <td> <input type="button" onclick="myFunction()" class="btn btn-outline-info" value="Done"></td>
            <td><span id="onlyrow"></span> </td>
        </tr>
    </table>
    <!--    <p id = "GOTOSTUDY" style ="font-size: 16px; font-weight: bold;">-->
    <!--    </p>-->
    <button onclick="toggleMode()">Toggle dark mode</button>

    <button onclick = "RANDOMCOLOR()"class="btn btn-outline-secondary">
        Test's Over? Have some fun!
    </button>

    <!--<p id = "RETURNTOFUN" style ="color:white; font-size: 20px; font-weight: bold;">-->
    <!--</p>-->
    <div class="row" style="text-align: center; width: 100%">
        <div class="col">
            <a href="http://127.0.0.1:5000/binarytoplanner/" target="_blank" class="btn btn-secondary">
                Want to take a quick break from studying and talk to your friends in binary? Click here!
            </a>
            <a href="http://127.0.0.1:5000/weatherapi2/" target="_blank" class="btn btn-secondary">
                What to wear...
            </a>
        </div>
    </div>
    <script>


        function display(id){
            const task = "task" + id;
            const show_input = "show_input" + id;
            alert("Adding " + document.getElementById(task).value + " to Row and Column " + id);
            localStorage.setItem(task, document.getElementById(task).value);
            document.getElementById(show_input).innerHTML = localStorage.getItem(task);
        }

        function keep() {
            for (let j = 0; j < 5; j++) {
                for (let i = 1; i < 8; i++) {
                    task = "task" + j;
                    task = task + i;
                    show_input = "show_input" + j;
                    show_input = show_input + i;
                    if (typeof localStorage.getItem(task) != null) {
                        document.getElementById(show_input).innerHTML = localStorage.getItem(task);
                    }
                }
            }
        }

        function reply_click(clicked_id)
        {
            alert(clicked_id);
        }

        function myFunction() {    //Code for logic gate
            const x = document.getElementById("firstcondition")
            const y = document.getElementById("secondcondition")

            if (x.checked || y.checked) {   //or
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/vomilton.png\" alt=\"Eh...\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"
            }
            if (x.checked && y.checked) {   //and
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/ankles.png\" alt=\"Sheeeeeesh\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"
            }
            if (!(x.checked || y.checked)) {    //nor
                document.getElementById("onlyrow").innerHTML = "<img src=\"/static/assets/ethanimages/anirudhsus.png\" alt=\"Sadge\" style=\"width: 200px; height: 200px; object-fit: cover\" ></a>"

            }
        }

        function changeImage(ndx) {     <!-- if else statement using the function changeImage   -->
            if (document.getElementById("img" + ndx).src == document.getElementById('img_orig' + ndx).innerHTML) { <!-- if original switch to gray   -->
                document.getElementById('img' + ndx).src = document.getElementById('img_gray' + ndx).innerHTML;
            } else {
                document.getElementById('img' + ndx).src = document.getElementById('img_orig' + ndx).innerHTML;  <!-- if gray switch to original   -->
            }
        }

        function changeColor(color) {
            document.body.style.background = color;
        }

        function STUDYTIME() {
            changeColor('white');

        }
        function RANDOMCOLOR() {
            let color = '#' + Math.floor(Math.random() * 16777215).toString(16);
            changeColor(color);
        }

        function remove(id) {
            const task = "task" + id;
            const show_input = "show_input" + id;
            // clearing web storage
            localStorage.removeItem(task);
            localStorage.removeItem(show_input);
            // clearing cell text
            document.getElementById(show_input).innerHTML = null;
            }

            function toggleMode() {
                var element = document.body;
                element.classList.toggle("dark-mode");
        }

    </script>
</div>