<!DOCTYPE html>
<html lang="en">
<!-- THE MAIN PROJECT -->
{% set basename = "Nighthawk Coding" %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        p {
            font-family: Raleway;
        }
        body {
            background-color: antiquewhite;
        }
        h1 {
            font-family: Forum;
            font-size: 90px;
        }
        table {
            width: auto;
            /*column-rule: 4px dotted rgb(79, 185, 227);*/
        }
        .task {
            height:400px;
        }
        .task, .day, .complete, th, td{
            border: 5px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);

        }
    </style>
    <title>Nighthawk Coding | Planner</title>
</head>

<body>
{% include "layouts/navbar.html" %}
<div style="margin-left: 50px">
    <h1>PLANNER</h1>
    <p>This will be where we will build the main project - <b>a daily planner with alarms for tests, homework, etc.</b></p>

    <!-- button that leads to the repo, can style the button in css above -->
    <a href="https://github.com/NastyEthan/flask_portfolio" target="_blank" class="btn">Schedule and Calender (currently leads to github repo)</a>

    <table border="1">

        <tr align= "center">
            <th colspan="7">October 2021</th>    <!-- html  -->
        </tr>

        <tr align= "center">    <!-- tr is the table row and center aligns them  -->
            <th >Sun</th>      <!-- The days and aligning in the center th is the table header  -->
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>

        <tr>
            <td> <label> &nbsp </label>     <!-- blank space in the table and makes the space occupied  -->
                <input> </td>
            </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>
            <td> <label> &nbsp </label>
                <input> </td>

            <td><label for="plan">  1 </label>  <!-- td table data and what is inside of each date plan is defined as variables below  -->
                <p id="printhere"></p>    <!-- referenced the id print here which is referenced below and calls -->
                Plan: <input type="text" id="plan">

                <button  onclick="display()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan2"> 2 </label>
                <p id="printhere2"></p>
                Plan: <input type="text" id="plan2">

                <button  onclick="display2()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>


        <tr>
            <td><label for="plan3"> 3 </label>
                <p id="printhere3"></p>
                Plan: <input type="text" id="plan3">
                <button  onclick="display3()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan4"> 4 </label>
                <p id="printhere4"></p>
                Plan: <input type="text" id="plan4">
                <button  onclick="display4()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan5"> 5 </label>
                <p id="printhere5"></p>
                Plan: <input type="text" id="plan5">
                <button  onclick="display5()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan6"> 6 </label>
                <p id="printhere6"></p>
                Plan: <input type="text" id="plan6">
                <button  onclick="display6()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan7"> 7 </label>
                <p id="printhere7"></p>
                Plan: <input type="text" id="plan7">
                <button  onclick="display7()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan8"> 8 </label>
                <p id="printhere8"></p>
                Plan: <input type="text" id="plan8">
                <button  onclick="display8()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan9"> 9 </label>
                <p id="printhere9"></p>
                Plan: <input type="text" id="plan9">
                <button  onclick="display9()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan10"> 10 </label>
                <p id="printhere10"></p>
                Plan: <input type="text" id="plan10">
                <button  onclick="display10()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan11"> 11 </label>
                <p id="printhere11"></p>
                Plan: <input type="text" id="plan11">
                <button  onclick="display11()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan12"> 12 </label>
                <p id="printhere12"></p>
                Plan: <input type="text" id="plan12">
                <button  onclick="display12()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan13"> 13 </label>
                <p id="printhere13"></p>
                Plan: <input type="text" id="plan13">
                <button  onclick="display13()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan14"> 14 </label>
                <p id="printhere14"></p>
                Plan: <input type="text" id="plan14">
                <button  onclick="display14()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan15"> 15 </label>
                <p id="printhere15"></p>
                Plan: <input type="text" id="plan15">
                <button  onclick="display15()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan16"> 16 </label>
                <p id="printhere16"></p>
                Plan: <input type="text" id="plan16">
                <button  onclick="display16()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan17"> 17 </label>
                <p id="printhere17"></p>
                Plan: <input type="text" id="plan17">
                <button  onclick="display17()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan18"> 18 </label>
                <p id="printhere18"></p>
                Plan: <input type="text" id="plan18">
                <button  onclick="display18()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan19"> 19 </label>
                <p id="printhere19"></p>
                Plan: <input type="text" id="plan19">
                <button  onclick="display19()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan20"> 20 </label>
                <p id="printhere20"></p>
                Plan: <input type="text" id="plan20">
                <button  onclick="display20()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan21"> 21 </label>
                <p id="printhere21"></p>
                Plan: <input type="text" id="plan21">
                <button  onclick="display21()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan22"> 22 </label>
                <p id="printhere22"></p>
                Plan: <input type="text" id="plan22">
                <button  onclick="display22()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan23"> 23 </label>
                <p id="printhere23"></p>
                Plan: <input type="text" id="plan23">
                <button  onclick="display23()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan24"> 24 </label>
                <p id="printhere24"></p>
                Plan: <input type="text" id="plan24">
                <button  onclick="display24()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan25"> 25 </label>
                <p id="printhere25"></p>
                Plan: <input type="text" id="plan25">
                <button  onclick="display25()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan26"> 26 </label>
                <p id="printhere26"></p>
                Plan: <input type="text" id="plan26">
                <button  onclick="display26()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan27"> 27 </label>
                <p id="printhere27"></p>
                Plan: <input type="text" id="plan27">
                <button  onclick="display27()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan28"> 28 </label>
                <p id="printhere28"></p>
                Plan: <input type="text" id="plan28">
                <button  onclick="display28()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan29"> 29 </label>
                <p id="printhere29"></p>
                Plan: <input type="text" id="plan29">
                <button  onclick="display29()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
            <td><label for="plan30"> 30 </label>
                <p id="printhere30"></p>
                Plan: <input type="text" id="plan30">
                <button  onclick="display30()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

        <tr>
            <td><label for="plan31"> 31 </label>
                <p id="printhere31"></p>
                Plan: <input type="text" id="plan31">
                <button  onclick="display31()">Add Info</button>
                <h6>Are You Done?</h6>
                <form>
                    <button id="Great work!" onClick="reply_click(this.id)">Yes!</button>
                    <button id="Don't worry, keep working on it!" onClick="reply_click(this.id)">No...</button>
                </form> </td>
        </tr>

    </table>



    <script>

        function reply_click(clicked_id)
        {
            alert(clicked_id);
        }

        function display(){

            var plan = document.getElementById("plan").value;
            document.getElementById("printhere").innerHTML = plan;
        }

        function display2(){

            var plan2 = document.getElementById("plan2").value;
            document.getElementById("printhere2").innerHTML = plan2;
        }

        function display3(){

            var plan3 = document.getElementById("plan3").value;
            document.getElementById("printhere3").innerHTML = plan3;
        }

        function display4(){

            var plan4 = document.getElementById("plan4").value;
            document.getElementById("printhere4").innerHTML = plan4;
        }

        function display5(){

            var plan5 = document.getElementById("plan5").value;
            document.getElementById("printhere5").innerHTML = plan5;
        }

        function display6(){

            var plan6 = document.getElementById("plan6").value;
            document.getElementById("printhere6").innerHTML = plan6;
        }

        function display7(){

            var plan7 = document.getElementById("plan7").value;
            document.getElementById("printhere7").innerHTML = plan7;
        }

        function display8(){

            var plan8 = document.getElementById("plan8").value;
            document.getElementById("printhere8").innerHTML = plan8;
        }

        function display9(){

            var plan9 = document.getElementById("plan9").value;
            document.getElementById("printhere9").innerHTML = plan9;
        }

        function display10(){

            var plan10 = document.getElementById("plan10").value;
            document.getElementById("printhere10").innerHTML = plan10;
        }

        function display11(){

            var plan11 = document.getElementById("plan11").value;
            document.getElementById("printhere11").innerHTML = plan11;
        }

        function display12(){

            var plan12 = document.getElementById("plan12").value;
            document.getElementById("printhere12").innerHTML = plan12;
        }

        function display13(){

            var plan13 = document.getElementById("plan13").value;
            document.getElementById("printhere13").innerHTML = plan13;
        }

        function display14(){

            var plan14 = document.getElementById("plan14").value;
            document.getElementById("printhere14").innerHTML = plan14;
        }

        function display15(){

            var plan15 = document.getElementById("plan15").value;
            document.getElementById("printhere15").innerHTML = plan15;
        }

        function display16(){

            var plan16 = document.getElementById("plan16").value;
            document.getElementById("printhere16").innerHTML = plan16;
        }

        function display17(){

            var plan17 = document.getElementById("plan17").value;
            document.getElementById("printhere17").innerHTML = plan17;
        }

        function display18(){

            var plan18 = document.getElementById("plan18").value;
            document.getElementById("printhere18").innerHTML = plan18;
        }

        function display19(){

            var plan19 = document.getElementById("plan19").value;
            document.getElementById("printhere19").innerHTML = plan19;
        }

        function display20(){

            var plan20 = document.getElementById("plan20").value;
            document.getElementById("printhere20").innerHTML = plan20;
        }

        function display21(){

            var plan21 = document.getElementById("plan21").value;
            document.getElementById("printhere21").innerHTML = plan21;
        }
        function display22(){

            var plan22 = document.getElementById("plan22").value;
            document.getElementById("printhere22").innerHTML = plan22;
        }

        function display23(){

            var plan23 = document.getElementById("plan23").value;
            document.getElementById("printhere23").innerHTML = plan23;
        }

        function display24(){

            var plan24 = document.getElementById("plan24").value;
            document.getElementById("printhere24").innerHTML = plan24;
        }

        function display25(){

            var plan25 = document.getElementById("plan25").value;
            document.getElementById("printhere25").innerHTML = plan25;
        }

        function display26(){

            var plan26 = document.getElementById("plan26").value;
            document.getElementById("printhere26").innerHTML = plan26;
        }

        function display27(){

            var plan27 = document.getElementById("plan27").value;
            document.getElementById("printhere27").innerHTML = plan27;
        }

        function display28(){

            var plan28 = document.getElementById("plan28").value;
            document.getElementById("printhere28").innerHTML = plan28;
        }

        function display29(){

            var plan29 = document.getElementById("plan29").value;
            document.getElementById("printhere29").innerHTML = plan29;
        }

        function display30(){

            var plan30 = document.getElementById("plan30").value;
            document.getElementById("printhere30").innerHTML = plan30;
        }

        function display31(){

            var plan31 = document.getElementById("plan31").value;
            document.getElementById("printhere31").innerHTML = plan31;
        }
        // there has to be an easier way to do this with indexes for one function, I tried '+n' and 'i' in a for loop but couldn't get it to work
    </script>
</div>
