<!DOCTYPE html>
<html lang="en">
<!-- THE MAIN PROJECT -->
{% set basename = "Nighthawk Coding" %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        p {
            font-family: Raleway;
        }
        a.btn {
            font-family: Raleway;
        }
        body {
            background-color: antiquewhite;
        }
        h1 {
            font-family: Forum;
            font-size: 90px;
        }
        table {
            width: auto;
            /*column-rule: 4px dotted rgb(79, 185, 227);*/
        }
        th, td{
            border: 5px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);
            padding: 10px;
        }
        button {
            font-family: Raleway;
        }
        label {
            font-family: Raleway;
        }
        .btn {
            border: 5px solid black;
        }
        iframe {
             border: 0px;
        }
    </style>
    <title>Nighthawk Coding | Planner</title>
</head>

<body>
{% include "layouts/navbar.html" %}
<div style="margin-left: 50px; margin-right: 50px">
    <h1>PLANNER</h1>
    <p>This is the project's <i>WEEKLY</i> schedule - <b>a daily planner structured on a weekly basis.</b></p>
    <a href="http://127.0.0.1:5000/planner3/" class="btn">Monthly Calendar</a>
    <input type="checkbox" id="color" name="colorCheck" onclick="display(id)">
    <label for="colorCheck">Use Colors?</label>
    <table style="text-align: center">
        <tr>    <!-- tr is the table row and center aligns them  -->
            <th>Sunday</th>      <!-- The days and aligning in the center th is the table header  -->
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            {% for i in range(1, 8) %}
            <td id="cell{{i}}">
                <p id="show_input{{i}}"></p>
                <input type="text" id="task{{i}}">
                <button onclick="display('{{i}}')">Add Plan</button>
            </td>
            {% endfor %}
        </tr>
    </table>

    <br>

    <a href="#" class="btn" onclick="music()" id="Music">Want to Listen to Music?</a>
    <a href="#" class="btn" onclick="toggleMusic()" id="HideMusic">Toggle Show Music</a>
    <iframe id="songs" src="about:blank" width="100%" height="280" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    <script>
        // converting string to hex
        function conversion(id) {
            const task = "task" + id;
            let text = document.getElementById(task).value;
            let short = text.slice(0,4) // slices long strings to just 4 characters
            let arr1 = [];
            for (let n = 0, l = short.length; n < l; n ++)
            {
                let hex = Number(short.charCodeAt(n)).toString(16);
                arr1.push(hex);
            }
            return "#" + arr1.join('')
        }

        // changes cell background color to the hex from conversion()
        function colorChange(id) {
            let cell = "cell" + id;
            document.getElementById(cell).style.backgroundColor = conversion(id);
        }

        // displaying user input for their tasks
        function display(id) {
            const task = "task" + id;
            const show_input = "show_input" + id;
            document.getElementById(show_input).innerHTML = document.getElementById(task).value;
            // whether or not checkbox is toggled, and uses color based on result
            let checked = document.getElementById("color").checked
            if ( checked ) {
                colorChange(id);
            }
        }

        // all personal playlists (from Michael), can add more public one's in the future
        // playlist format: https://open.spotify.com/embed/playlist/ID
        // make sure to include /embed/ and remove the ?:stuff
        const a = "https://open.spotify.com/embed/playlist/18KrvqaSiubu6uPN9kYUw8";
        const b = "https://open.spotify.com/embed/playlist/6WYQ7w1iQ4bsMXT50A6fCu";
        const c = "https://open.spotify.com/embed/playlist/4qgfMmrc8XSF3P1fHmiuvf";
        const d = "https://open.spotify.com/embed/playlist/5kYOn1V225bRpJ1CpwZPX8";
        const e = "https://open.spotify.com/embed/playlist/2Ytk3eaNRNao1B0NJais5X";
        const f = "https://open.spotify.com/embed/playlist/1qO45Esl7AIo6nsuM18tyy";
        const h = "https://open.spotify.com/embed/playlist/7077oO7N4wtuxXbrcG1Ph7";
        const playlists = [a, b, c, d, e, f, h];
        const x = document.getElementById("songs");

        function music() {
            document.getElementById('songs').src = playlists[Math.floor(Math.random() * playlists.length)];
            if (x.style.display === "none") {
                x.style.display = 'block';
            }
        }

        function toggleMusic() {
            if (x.style.display === "none") {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }

    </script>
</div>
