{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set activity = activity %}
{% set project = "Sahil" %}
{% set imgMaskOn = pic1 %}
{% set imgMaskOff = pic2 %}
{% set journal = "https://drive.google.com/drive/u/1/folders/109c7P4Li6FC6_TDuxjpdwKTddyE3Jvg1" %}

{% block body %}
    <style>
        body {
            background-image: url('/static/assets/sahilimages/sahilbackground.jfif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            min-height: 100%;
            height: fit-content;
        }
        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: white;
            font-size: 2.5em;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
        }
        .box {
            padding: 8px;
            margin: 25px;
        }
    </style>
    <div class="box">
        <p style="font-family:'Bebas Neue'; font-size:120px" > Sahil Samar </p>
        <div class="col-12" style="text-align:center">
            <p style="font-family:'Bebas Neue'; font-size:40px"> Click the image to take off the mask! </p>
            <img class="img-responsive py-3" id="picture" src="{{ imgMaskOff }}" alt="" width="400" height="Auto" onclick="toggleMask('{{i}}')">
            <br>
            <a href="{{ journal }}" class="btn">Sahil's Journal</a>
            <a href="https://github.com/NastyEthan/NastyAwakened" class="btn">Github </a>
            <a href="https://github.com/NastyEthan/NastyAwakened/commits?author=AD1616" class="btn">Commits  </a>

        </div>
        <p style="font-family:'Bebas Neue'; font-size:30px" > Find hotels for cities </p>
        <table>
            <tr>
                <td>Name: </td>
                <td>{{myHotel['name']}}</td>
            </tr>
            <tr>
                <td>Link: </td>
                <td>{{myHotel['link']}}</td>
            </tr>
            <tr>
                <td>Rating: </td>
                <td>{{myHotel['rating']}}</td>

            </tr>
        </table>
        <form action="{{ url_for('sahil') }}" id="inputHotel" method="POST" >
            <label for="city">Enter a city:</label>
            <input name="city" id="city">
            <input type="submit" value="Find a hotel">
        </form>
        <p style="font-family:'Bebas Neue'; font-size:30px" > Activities if you are bored </p>
        <table>
            <tr>
                <td>Activity: </td>
                <td>{{ activity }}</td>
            </tr>
        </table>
        <form method ="post" action="{{ url_for('sahil') }}">
            <button type="submit" name="askActivity" value="submit_a"> Find a New Activity </button>
        </form>
    </div>

    <div style="text-align:center">

    </div>


    <script>
        function toggleMask() {
            const image = document.getElementById('picture');
            if (image.src.match("{{ imgMaskOn }}")) {
                image.src = "{{ imgMaskOff }}";
            } else {
                image.src = "{{ imgMaskOn }}";
            }
        }
    </script>
{% endblock %}

{% block background %}
{% endblock %}