<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Weather in London!!</h2>

<table>
    <tr>
        <th>Conditions</th>
        <th>Values</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>{{myweather['main']['Rain']}}</td>
    </tr>
    <tr>
        <td>Feels Like</td>
        <td>{{myweather['main']['feels_like']}}</td>

    </tr>
    <tr>
        <td>Temperature</td>
        <td>{{myweather['main']['temp']}}</td>

    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{myweather['coord']['lat']}}</td>

    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{myweather['coord']['lon']}}</td>

    </tr>
</table>

</body>
</html>

