
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive Mono"> <!-- a monospace -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue"> <!-- https://fonts.google.com/specimen/Bebas+Neue?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One"> <!-- https://fonts.google.com/specimen/Poiret+One?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton"> <!-- https://fonts.google.com/specimen/Monoton?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great"> <!-- https://fonts.google.com/specimen/Fredericka+the+Great?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum"> <!--https://fonts.google.com/specimen/Forum?category=Display -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        html, body {
            background-color: lightseagreen;
        }
        th, td{
            border: 5px solid black;
            column-rule: 4px dotted rgb(79, 185, 227);

        }

    </style>
</head>
<body>
<h2 class="text-center">Here's the forecast for the next three days!</h2>


<table>

<!--    maybe list i through the days of the month-->
    <tr>
        <th>Day</th>
        <th>Predicted Temperature</th>
        <th>Predicted Rain Chance</th>
    </tr>
    <tr>
        <td>Today</td>
        <td>{{myforecast['forecast']['forecastday'][0]['day']['avgtemp_f']}}</td>
        <td>{{myforecast['forecast']['forecastday'][0]['day']['daily_chance_of_rain']}}</td>
    </tr>
    <tr>
        <td>Tomorrow</td>
        <td>{{myforecast['forecast']['forecastday'][1]['day']['avgtemp_f']}}</td>
        <td>{{myforecast['forecast']['forecastday'][1]['day']['daily_chance_of_rain']}}</td>
    </tr>
    <tr>
        <td>Day after Tomorrow</td>
        <td>{{myforecast['forecast']['forecastday'][2]['day']['avgtemp_f']}}</td>
        <td>{{myforecast['forecast']['forecastday'][2]['day']['daily_chance_of_rain']}}</td>
    </tr>


</table>


</body>
</html>

<br>
<h2 class="text-center">Important Links</h2>
<div class="container"></div>
<div class="row justify-content-md-center" style="text-align: center; width: 100%">
    <div class="col">
        <a href="http://127.0.0.1:5000/weatherapi2/" target="_blank" class="btn">Back to Detailed Weather Report</a>
        <a href="http://127.0.0.1:5000/planner3/" target="_blank" class="btn">Back to Planner</a>
    </div>
</div>
</div>

